<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<div th:if="${products.isEmpty()}">
    <p>Вы пока не добавили в корзину ни одного товара</p>
</div>
<div th:unless="${products.isEmpty()}" th:each="product : ${products}" >
    <h3 th:text="${product.name}"></h3>
    <h4>Описание</h4>
    <p th:text="${product.description}"></p>
    <p th:text="'Price: ' + ${product.price}"></p>
    <p th:text="'Продавец: ' + ${product.getOwner().getUsername()}"></p>

</div>
</body>
</html>