<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<div th:if="${cart.getProducts() == null or cart.getProducts().isEmpty()}">
    <p>Вы пока не добавили в корзину ни одного товара</p>
</div>
<div th:unless="${cart.getProducts() == null or cart.getProducts().isEmpty()}"
     th:each="product:${cart.getProducts()}" >
    <h3 th:text="${product.name}"></h3>
    <h4>Описание</h4>
    <p th:text="${product.description}"></p>
    <p th:text="'Price: ' + ${product.price}"></p>
    <p th:text="'Продавец: ' + ${product.getOwner().getUsername()}"></p>
    <form th:method="UPDATE" th:action="@{/market/cart/{id}/delete_product(id=${cart.getId()})}">
        <input type="hidden" name="product_id" th:value="${product.getId()}"/>
        <button>Удалить товар из корзины</button>
    </form>
</div>
<br/>
<form action="/market">
    <button>Вернуться в магазин</button>
</form>
</body>
</html>