<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
</head>
<body>
<h1>Market</h1>
<form th:method="UPDATE" th:action="@{/market}">
    <label for="name">Введите поисковой запрос</label>
    <input type="text" id="name" name="name"/>
    <input type="submit" value="Искать!"/>
</form>

<div th:each="product : ${products}">
    <h3>
        <a th:text="${product.getName()}" th:href="@{/market/product/{id}(id=${product.getId()})}">Наименование товара</a>
    </h3>
    <h4>Описание</h4>
    <p th:text="${product.getDescription()}"></p>
    <h4>Цена: </h4>
    <a th:text="${product.getPrice()}"></a>
    <h4 >Продавец: </h4>
    <a th:text="${product.getOwner().getUsername()}"></a>

    <h4>Характеристики:</h4>
    <ul>
        <li th:each="property : ${product.getProperties()}" th:text="${property.getName() + ': ' + property.getValue()}"></li>
    </ul>

    <form th:method="UPDATE" th:action="@{/market/cart/{id}/add_product(id=${cart_id})}">
        <input type="hidden" name="product_id" th:value="${product.getId()}"/>
        <button>Добавить товар в корзину</button>
    </form>

    <form th:method="DELETE" th:action="@{/market/delete_product}">
        <input type="hidden" name="id" th:value="${product.getId()}"/>
        <button>Удалить товар</button>
    </form>
    <hr>
</div>
<br/>
<br/>
<br/>
<form action="/market/add_product">
    <button>Добавить товар в ленту</button>
</form>
<br/>
<br/>
<form th:action="@{/market/cart/{id}(id=${cart_id})}">
    <button>Корзина</button>
</form>
<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти">
</form>
</body>
</html>