<!DOCTYPE html>
<html lang="en" xmlns:margin-right="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div>
    <h3>
        <span th:text="${product.getName()}"></span>
    </h3>
    <form th:method="POST"
          th:action="@{/market/product/{id}(id=${product.getId()})}">
        Ввести новое имя <textarea name="newValue"></textarea>
        <input type="hidden" name="fieldName" value="name"/>
        <input type="submit" value="Изменить"/>
    </form>

    <h4>Описание:</h4>
        <span th:text="${product.getDescription()}"></span>
    <form th:method="POST"
          th:action="@{/market/product/{id}(id=${product.getId()})}">
        Ввести новое описание <textarea name="newValue"></textarea>
        <input type="hidden" name="fieldName" value="description"/>
        <input type="submit" value="Изменить"/>
    </form>

    <p>Цена:
        <span th:text="${product.getPrice()}"></span>
    </p>
    <form th:method="POST"
          th:action="@{/market/product/{id}(id=${product.getId()})}">
        Ввести новую цену <textarea name="newValue"></textarea>
    <input type="hidden" name="fieldName" value="price"/>
        <input type="submit" value="Изменить"/>
    </form>

    <p>Продавец:
        <span th:text=" ${product.getOwner().getUsername()}"></span>
    </p>

    <h4>Характеристики:</h4>

        <div th:each="property : ${product.getProperties()}" style="display: flex; align-items: baseline;">
            <a th:text="${property.getName() + ': ' + property.getValue()}" >Характеристика</a>
            <form th:action="@{/market/product/{id_product}/delete_property(id_product=${product.getId()})}" th:method="DELETE">
                <input type="hidden" th:name="id" th:value="${property.getId()}"/>
                <input type="submit" value="Удалить характеристику товара" style="margin-left: 10px;"/>
            </form>
        </div>
    <form th:action="@{/market/product/{id_product}/add_property(id_product=${product.getId()})}" method="post"  th:object="${newProperty}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <label for="name">Введите название характеристики</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="value">Введите значение для характеристики</label>
        <input type="text" th:field="*{value}" id="value"/>
        <br/>

        <input type="submit" value="Добавить характеристику к товару"/>
    </form>
</div>
<br/>
<br/>
<form action="/market">
    <button>Вернуться в магазин</button>
</form>
</body>
</html>
